.about {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
}

.about__item {
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 1;
  min-width: 250px;

  padding: 0.5em 1em;
}

.tictoc {
  position: relative;

  min-width: 250px;

  background-color: rgba(255, 0, 0, 0.5);

  padding: 0.5em;

  border: 3px solid blue;
  border-radius: 1em;

  // background-image: url("/img/backgrounds/XO.PNG");

  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: contain;

  gap: 2em;
}

.tictoc::after,
.tictoc::before {
  position: absolute;

  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 2.5rem;
  font-weight: bolder;

  text-shadow: 0.1em 0.01em #141414;
}

.tictoc::after {
  content: "X";

  top: -10%;
  right: 5%;

  color: red;
}

.tictoc::before {
  content: "O";

  bottom: -10%;
  left: 5%;

  color: blue;
}

.tic {
  color: red;
}

.toc {
  color: blue;
}

.play {
  width: 40%;
  background-color: rgb(29, 168, 29);

  border-radius: 1em;

  text-align: center;

  float: right;

  &:hover {
    cursor: pointer;
    font-weight: bolder;
    scale: 1.2;

    box-shadow: var(--bs);
  }
}
