<footer class="footer">
  <a href="" class="footer__link">Manuchar</a>

  <ul class="social-list">
    <li class="social-list__item">
      <a href="" class="social-list__link"><i class="fab fa-facebook"></i></a>
    </li>
    <li class="social-list__item">
      <a href="" class="social-list__link"><i class="fab fa-youtube"></i></a>
    </li>
    <li class="social-list__item">
      <a href="" class="social-list__link"><i class="fab fa-github"></i></a>
    </li>
    <li class="social-list__item">
      <a href="" class="social-list__link"><i class="fab fa-instagram"></i></a>
    </li>
  </ul>
</footer>
