<div class="flex-wrapper">
  <div *ngIf="showYearPad" class="year-pad">
    <div class="year-grid">
      @for (yr of yearsSignal(); track $index) {
      <div class="year-grid__year">{{ yr }}</div>
      }
    </div>
  </div>
  <div *ngIf="showMonthPad" class="month-pad">
    <div class="month-grid">
      @for (mn of monthies; track $index) {
      <div class="year-grid__month">{{ mn.slice(0, 3) }}</div>
      }
    </div>
  </div>

  <div class="flex-wrapper line line-1">
    <div class="line-1__left">
      <div class="btn" (click)="showHideYearPad(dateInGeorgian().year)">
        {{ dateInGeorgian().year }}
      </div>

      <!-- <select
        [(ngModel)]="dateInGeorgian().year"
        name="yr"
        id="yr"
        (ngModelChange)="setYear($event)"
      >
        @for (year of years; track $index) {
        <option value="{{ year }}">
          <b>{{ year }}</b>
        </option>
        }
      </select> -->
    </div>
    <div class="line-1__right">
      <div class="year-back" (click)="incrementYear('back')"><</div>
      <div class="year-forward" (click)="incrementYear('forward')">></div>
    </div>
  </div>
  <div class="flex-wrapper line line-2">
    <div class="btn" (click)="showHideMonthPad()">
      {{ monthies[dateInGeorgian().month - 1] }}
    </div>
    <!-- <select
      name="month"
      id="month"
      [(ngModel)]="dateInGeorgian().month"
      (ngModelChange)="setMonth($event)"
    >
      @for (mn of monthies; track $index) {
      <option value="{{ $index + 1 }}">
        {{ mn }}
      </option>
      }
    </select> -->
  </div>
  <div class="flex-wrapper line line-3">
    <div class="dayNames">
      <div class="day">ორ</div>
      <div class="day">სმ</div>
      <div class="day">ოთ</div>
      <div class="day">ხთ</div>
      <div class="day">პრ</div>
      <div class="day">შბ</div>
      <div class="day">კვ</div>
    </div>
  </div>
  <div class="flex-wrapper line line-4">
    <div *ngIf="showMainBord" class="monthDays">
      @for (day of calendarMonthDays(); track $index){
      <div
        (click)="setDay(day)"
        [ngClass]="{
          mDay: day != 0,
          selectedDay: day == dateInGeorgian().day
        }"
      >
        {{ day == 0 ? "" : day }}
      </div>

      }
    </div>
  </div>
</div>

<p>{{ dateInGeorgian().year }}</p>
<p>{{ monthies[dateInGeorgian().month - 1] }}</p>
