.clock-dial {
  --dialPadWidth: 540px;
  --numWidth: 50px;
  --paddingWidth: 20px;
  --insideCircle: 500px;

  width: var(--dialPadWidth);
  height: var(--dialPadWidth);
  border: 5px solid black;
  border-radius: 50%;
  margin: 3rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}

.number {
  position: absolute;
  top: calc(50% - var(--numWidth) / 2);
  left: calc(50% - var(--numWidth) / 2);
  width: var(--numWidth);
  height: var(--numWidth);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p {
  margin: 0;
  padding: 0;
}

.houre {
  font-size: 30px;
  font-weight: bold;

  border: 2px solid red;
  border-radius: 50%;
}

.houre-arrow,
.minute-arrow,
.second-arrow {
  position: absolute;
  // width: 50%;
  // height: 6px;
  background-color: black;

  transform: rotate(0deg);
  border-radius: 2px;
}

.houre-arrow {
  width: 160px;
  height: 10px;
  background-color: rgb(204, 32, 32);
  transform-origin: 5px 50%;

  opacity: 0.6;
}

.minute-arrow {
  width: 200px;
  height: 10px;
  background-color: rgb(32, 32, 204);
  transform-origin: 5px 50%;

  opacity: 0.6;
}

.second-arrow {
  width: 240px;
  height: 10px;
  background-color: rgb(32, 204, 32);
  opacity: 0.6;
  // transform: translate(2px, 50%);
  transform-origin: 5px 50%;
}

.minute {
  position: absolute;
  top: calc(50% - var(--numWidth) / 4);
  left: calc(50% - var(--numWidth) / 4);

  width: calc(var(--numWidth) / 2);
  height: calc(var(--numWidth) / 2);
  font-size: 8px;
}

.dot {
  width: 5px;
  height: 5px;
  background-color: black;
}
