<div class="clock-dial">
  <div class="point"></div>

  <!-- <div
    class="hour hour-1"
    style="
      transform: rotate(-60deg) translate(200px) rotate(60deg);
      position: absolute;
    "
  >
    <p>1</p>
  </div>
  <div
    class="hour hour-2"
    style="
      transform: rotate(-30deg) translate(200px) rotate(30deg);
      position: absolute;
    "
  >
    <p>2</p>
  </div>
  <div
    class="hour hour-3"
    style="
      transform: rotate(0deg) translate(200px) rotate(0deg);
      position: absolute;
    "
  >
    <p>3</p>
  </div>
  <div
    class="hour hour-4"
    style="
      transform: rotate(30deg) translate(200px) rotate(-30deg);
      position: absolute;
    "
  >
    <p>4</p>
  </div>
  <div
    class="hour hour-5"
    style="
      transform: rotate(60deg) translate(200px) rotate(-60deg);
      position: absolute;
    "
  >
    <p>5</p>
  </div>
  <div
    class="hour hour-6"
    style="
      transform: rotate(90deg) translate(200px) rotate(-90deg);
      position: absolute;
    "
  >
    <p>6</p>
  </div>
  <div
    class="hour hour-7"
    style="
      transform: rotate(120deg) translate(200px) rotate(-120deg);
      position: absolute;
    "
  >
    <p>7</p>
  </div>
  <div
    class="hour hour-8"
    style="
      transform: rotate(150deg) translate(200px) rotate(-150deg);
      position: absolute;
    "
  >
    <p>8</p>
  </div>
  <div
    class="hour hour-9"
    style="
      transform: rotate(180deg) translate(200px) rotate(-180deg);
      position: absolute;
    "
  >
    <p>9</p>
  </div>
  <div
    class="hour hour-10"
    style="
      transform: rotate(210deg) translate(200px) rotate(-210deg);
      position: absolute;
    "
  >
    <p>10</p>
  </div>
  <div
    class="hour hour-11"
    style="
      transform: rotate(240deg) translate(200px) rotate(-240deg);
      position: absolute;
    "
  >
    <p>11</p>
  </div>
  <div
    class="hour hour-12"
    style="
      transform: rotate(-90deg) translate(200px) rotate(90deg);
      position: absolute;
    "
  >
    <p>12</p>
  </div> -->

  <!-- <div
    class="hour"
    style="
      transform: rotate(0deg) translate(200px) rotate(0deg);
      position: absolute;
    "
  >
    <p>1</p>
  </div> -->

  <div
    *ngFor="let hour of hours; let i = index"
    [ngStyle]="getHourStyle(i + 1)"
    class="hour"
  >
    <p>{{ hour }}</p>
  </div>

  <div class="brand">WebKey</div>

  <div class="minute-hand-wrapper" id="minute-hand">
    <div class="minute-hand">
      <div class="hand"></div>
      <div class="arrow"></div>
    </div>
  </div>

  <div class="hour-hand-wrapper" id="hour-hand">
    <div class="hour-hand">
      <div class="hand"></div>
      <div class="arrow"></div>
    </div>
  </div>

  <div class="second-hand-wrapper" id="second-hand">
    <div class="second-hand">
      <div class="hand"></div>
    </div>
  </div>
</div>
