<div class="clock-dial">
  <div class="center">
    <div
      *ngFor="let hour of hours; let i = index"
      [ngStyle]="getStyleForNumber(i + 1, 230, 30)"
      class="number houre"
    >
      <p>{{ hour }}</p>
    </div>

    <div
      *ngFor="let min of mins; let i = index"
      [ngStyle]="getStyleForNumber(i + 1, 230, 6)"
      class="number minute"
    >
      <div *ngIf="min % 5 != 0" class="dot"></div>
    </div>

    <div class="houre-arrow"></div>
    <div class="minute-arrow"></div>
    <div class="second-arrow"></div>
  </div>
</div>
