<div class="flex-wrapper">
  <div class="ticktock" id="pad">
    @for (row of dimension; track $index; let i = $index) { @for (column of
    dimension; track $index; let j = $index) {
    <div class="item flex-wrapper" (click)="makeMove(row, column)">
      <div class="flex-wrapper" id="{{ row + column }}svg"></div>
    </div>
    } }

    <div class="winner" id="winner">
      <div class="block">
        <h2 id="active-name">
          {{ activePlayer().name }}
        </h2>
        <h3>You Win!!!</h3>
      </div>
    </div>
  </div>
</div>
