<div class="wr-f">
  <div class="move"><p>Your move - <b>{{playerName()}}</b></p></div>
  <div class="ticktock" id="pad">
    @for (row of dimension; track $index; let i = $index) { @for (column of
    dimension; track $index; let j = $index) {
    <div class="item wr-f" (click)="makeMove(row, column)">
      <div class="wr-f" id="{{ row + column }}svg"></div>
    </div>
    } }

    <div class="winner" id="winner">
      <div class="block">
        <h2 id="active-name">
          {{ playerName() }}
        </h2>
        <h3>You Win!!!</h3>
      </div>
      <div class="restart"><app-restart (gameEndOutput)="getEndGame($event)"></app-restart></div>
      
    </div>

    <div class="tie" id="tie">
      <div class="block">
        Game is tied
      </div>
      <div class="restart"><app-restart (gameEndOutput)="getEndGame($event)"></app-restart></div>
    </div>
  </div>
</div>
