.wr-f{
  flex-direction: column;
}

.ticktock {
  position: relative;

  margin: 1rem auto;
  padding: .5em;

  border: 2px solid #000;

  display: grid;
  gap: 0.5em;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";

  background-color: var(--clr-dark);
}

.item {
  position: relative;

  margin: auto;
  width: 100px;
  height: 100px;

  border: 1px solid #000;
  border-radius: 1rem;

  background-color: var(--clr-light);
  overflow: hidden;

  font-size: 3rem;
}

.item:hover {
  cursor: pointer;
  background-color: #bdbdbd;
}

.winner, .tie {
  display: none;

  position: absolute;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  background-color: rgba(222, 184, 135, 0.8);

  flex-direction: column;

  justify-content: center;
  align-items: center;

  color: #000;
}

.block {
  background-color: white;
  padding: 1em;
  border-radius: 20%;
}

.restart{
  margin: 1em 0;
  width: 80%;

  background-color: white;
}

@media (max-width: 400px) {
  .item {
    width: 70px;
    height: 70px;

  }

  .ticktock{
    padding: .15em;
    gap: .15em;
  }
}
