<app-intro
  [title1Inp]="title1"
  [title2Inp]="title2"
  [srcInp]="src"
  [subTitleInp]="subTitel"
></app-intro>

<div class="item">
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium
    quisquam dolorum sint incidunt, atque enim illum repellendus.
  </p>
  <img src="img/backgrounds/main3.jpg" alt="" />
  <p>
    Deserunt blanditiis reiciendis, natus laboriosam dolores nostrum voluptatum
    minima quos dignissimos rem sit mollitia.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum sed voluptate
    consequatur, maiores at porro nisi. At libero, suscipit odit eius non
    tenetur consequatur a, facere molestiae magnam, dolore consectetur?
  </p>
</div>
