<div class="game-info">
  <h3>{{ title() }}</h3>
  <div *ngIf="setStyle()" class="chose">
    <div class="radio-button">
      <label for="player">Play VS Friend</label>
      <input
        class="radio-input"
        [(ngModel)]="gameStyle"
        type="radio"
        name="chose"
        id="player"
        value="1"
        (ngModelChange)="setGameStyle()"
      />
    </div>
    <hr />
    <div class="radio-button">
      <label for="computer">Play VS Computer</label>
      <input
        class="radio-input"
        [(ngModel)]="gameStyle"
        type="radio"
        name="chose"
        id="computer"
        value="2"
        (ngModelChange)="setGameStyle()"
      />
    </div>
  </div>

  <div *ngIf="setName()" class="set-name">
    <label for="name1">Select name:</label>
    <input
      [(ngModel)]="player1Name"
      class="name-input"
      type="text"
      placeholder="Player1"
      (focus)="selectAll($event)"
      (click)="selectAll($event)"
      id="name1"
    />
    <label>Select icon:</label>

    <div class="icons">
      <div class="radio-button">
        <label class="icon-label icon-labelX" for="X"><p>X</p></label>
        <input
          class="radio-input"
          [(ngModel)]="player1Icon"
          type="radio"
          name="icon"
          id="X"
          value="X"
        />
      </div>
      <div class="radio-button">
        <label class="icon-label icon-labelO" for="O"><p>O</p></label>
        <input
          class="radio-input"
          [(ngModel)]="player1Icon"
          type="radio"
          name="icon"
          id="O"
          value="O"
        />
      </div>
    </div>

    <div class="set-name-button" (click)="setPlayer1Name()">OK</div>
  </div>

  <div *ngIf="setName2()" class="set-name">
    <label for="name2">Select name:</label>
    <input
      [(ngModel)]="player2Name"
      class="name-input"
      type="text"
      placeholder="Player2"
      (focus)="selectAll($event)"
      (click)="selectAll($event)"
      id="name2"
    />

    <div class="set-name-button" (click)="setPlayer2Name()">OK</div>
  </div>

  <app-navigation
    class="navigation"
    (backOutput)="getGoBack()"
    (quiteOutput)="getQuiteGame()"
  ></app-navigation>
</div>
